.products-list {
    background: white;
    padding: 1rem;
    border-radius: 8px;
}

.product-items {
    border-top: 1px solid var(--border-color);
}

.product-item {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color);

        @media (max-width: 600px) {
        padding: 0.5rem;
    }
}

.product-name {
    font-weight: 600;
    margin-bottom: 0.25rem;
}

.product-quantity {
    color: var(--text-secondary);
    font-size: 0.875rem;
}

.product-price {
    font-weight: 600;
}