.containerList{
    width: 100%;
}
.containerProd{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.descriptionProduct{
    display: flex;
    align-items: center;  
    min-width: 190px; 
    gap: 10px; 
}

.quantityContainer{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quantityValue{
display: flex;
justify-content: center;
align-items: center;
padding: 0 5px;
}
.button{
    width: 20px;
    padding: 0 !important;

}
.totalContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    bottom: 0;
}
.descriptiondetail{
 width: 100%;
 h3{
    margin: 0 20px;
 }
 div{
    font-weight: 700;
    font-size: 14px;
 }
 span{
    font-weight: 400;
    font-size: 12px;
    display: flex;
    justify-content: end;
    
 }
}