.heroImg{
   position: fixed;
   top: 0;
   left: 0;
   z-index: -1;
   height: 100%;
   width: 100%;
   object-fit: cover;
}

.hero{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.heroWelcome{
    font-size: clamp(16px,1px + 2vw, 21px);
    font-weight: 600;
}
.heroTitle{
    font-size: clamp(36px,1px + 8vw, 92px);
    font-weight: 600;
    max-width: calc(100vw - 35%);
    text-align: center;
    margin-bottom: clamp(250px, 80vw, 550px);
}


.newProduct{
    padding:0 clamp(10px,2.5%, 40px);
    padding-top: clamp( 50px, 10vw ,103px);
    padding-bottom: clamp( 50px, 10vw ,103px);
    background-color: #d9d4c9;
}
.newProductTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 clamp(0px, 2% , 20px);
    
    h2{
        font-size: clamp(40px, 7vw,50px);
        color: #000;
    }
}

.newProductGrid{
    max-width: 1920px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*       story   */

.blogs{
width: 100%;
padding: 70px;
background-color: #d9d4c9;
display: flex;
gap: 40px;
justify-content: center;
align-items: center;
@media(max-width:768px){
    display: block;
    article{
        margin: auto;
    }
}
}


.footer{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}
