.serviContainer{
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
width: min(100%, 350px);

}
.servicios{
    background-color: #d9d4c9;
    color: #050505;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 64px 0;
    
    @media(max-width:1110px){
        padding-left: 20px;
        padding-right: 20px;
    }
    @media (max-width: 768px){
        flex-direction: column;
        gap: 40px;
        article:nth-child(1){
            margin-left:30px;
            justify-content: center;
            align-items: center !important;
            margin-right: auto;
        }
        article:nth-child(3){
            margin:0;
            justify-content: center;
            align-items: center !important;
            margin-left: auto;
        }
    }
    @media (max-width: 480px){    
        article{
            margin:0 !important;
        }
    }
}

.servTitle{
    width: max(150px, 100%);
}
.icon{
    border-radius: 50%;
    background-color: rgb(93, 151, 95);
    
    width: 52px;
    height: 52px;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
}
.subTitle{
    font-size: 15px;
    text-transform: capitalize;
    color: #3d3a3a;
}